<html>
  <head>	
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	{% block head %}
	{% endblock %}
  </head>
  <body>
	<div class="container">
	  <div class="topmatter">
		<div>
		  <h1>7DRL</h1>
		</div>
		<div class="navbox">
		  <div class="login">
            {{ login|safe }}
		  </div>
		  <div class="nav">
			<a href="/index">index</a>
			<a href="/room">play</a>
			{% block nav %}
			{% endblock %}
		  </div>
		</div>
	  </div>
	  <div class="content">
		{% block content %}
		{% endblock %}
	  </div>
	</div>
  </body>
</html>
