{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Character Generation</h2>
</div>
<div class="createwrap">
  <div class="create">
	<form action="/create_player" method="post">
	  <div>Name:<input type="text" name="name" size="16"></textfield></div>
	  <div><img name="player" src="/images/Rogue.png" title="What a handsome fellow." alt="Player"/></div>
	  <div>
		<select name="class" onchange="document.getElementsByName('player')[0].src=['/images/Rogue.png', '/images/Spaniard.png', '/images/Hat_Guy.png'][value]">
		  <option value="0">Rogue</option>
		  <option value="1">Spaniard</option>
		  <option value="2">Guy with a hat</option>
        </select>
	  </div>
	  <div><input type="submit" value="Onwards!"></div>
	</form>
  </div>
</div>
{% endblock %}
