{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Character Generation</h2>
</div>
<div class="createwrap">
  <div class="create">
	<form action="/create_player" method="post">
	  <div>Name:<input type="text" name="name" size="16"></textfield></div>
	  <div><img name="player" src="/images/player.png" alt="What a handsome fellow."/></div>
	  <div>
		<select name="class" onchange="document.getElementsByName('player')[0].src=['/images/player.png', '/images/spaniard.png', '/images/hat_guy.png'][value]">
		  <option value="0">Rogue</option>
		  <option value="1">Spaniard</option>
		  <option value="2">Guy with a hat</option>
          <!-- TODO: Generate these from a list of classes? -->
        </select>
	  </div>
	  <div><input type="submit" value="Onwards!"></div>
	</form>
  </div>
</div>
{% endblock %}
