{% extends "base.html" %}

{% block content %}
<div class="title">
<a href="/room"><h1> Play </h1></a>
</div>
<p>Fill out the form on the character generation - There are few stats, and character class is purely cosmetic.</p>
<p>Click on exits, or use hjkl, wsad or arrows keys and &gt; to move</p>
<p>To attack select a target on the right panel by clicking on it, then click on the big red 'A', or hit space. If your target did not die, the same target will remain selected (even if the target image does not reflect this).</p>
<p>You can move every ~6secs or so.</p>
<br/><br/>

<h1>Top Scores:</h1>
<div class="top_scores">
{% if top_scores %}
{{ top_scores|safe }}
{% else %}
<h2> No one :( </h2>
{% endif %}
</div>

<script type="text/javascript" src="js/index.js"> </script>

{% endblock %}
