{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>{{ room.title }}</h2>
</div>
{% if room.image_url %}
<img src="{{ room.image_url }}"/>
{% endif %}
{% if room.exits|length > 0 %}
<div class="exits">
  {% for exit in room.exits %}
  <a href="/room?name={{ exit }}">{{ exit }}</a> <br />
  {% endfor %}
</div>
{% endif %}

<div class="sidepanel">
<h3>{{ player.name }}</h3>
<img src="/image/player.png"/>
<h4>Health: some</h4>
<h4>Xp: little</h4>
</div>
{% endblock %}
