{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Room Editor</h2>
</div>
<div class="createwrap">
  <div class="create">
	<form action="/debug" method="post">
	  <div><textarea name="title" rows="1" cols="60"></textarea></div>
	  <div><textarea name="image_url" rows="1" cols="60"></textarea></div>
	  <div>
		<select name="exit">
		  <option value="None">None</option>
          {% for room_key in room_keys %}
		  <option value="{{ room_key }}">{{ room_key }}</option>
          {% endfor %}
		</select>
	  </div>
	  <div><input type="submit" value="New Room"></div>
	</form>
  </div>
</div>
{% endblock %}
