{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="js/room_editor.js"> </script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Room Editor</h2>
</div>
<div class="createwrap">
  <div class="create">
	<form action="/debug" method="post">
	  <textarea name="title" rows="1" cols="60"></textarea>

	  <table>
		{% for i in 12345|make_list %}
		<tr>
		  {% for j in 1234567|make_list %}
		  <td>
			{% if i == "1" or i == "5" or j == "1" or j == "7" %}
			<img src="/images/wall1.png" onClick="" />
			{% else %}
			<img src="/images/floor1.png" onClick="" />
			{% endif %}
		  </td>
		  {% endfor %}
		</tr>
		{% endfor %}
	  </table>
	  
	  <input type="hidden" name="tiles" value="{% for i in 123456|make_list %}{% for j in 12345|make_list %}{% if i == 1 or i == 6 or j == 1 or j == 5 %}1{% else %}0{% endif %}{% if i != 6 or j != 5 %},{% endif %}{% endfor %}{% endfor %}"/>

	  <div><textarea name="description" rows="3" cols="60"></textarea></div>

	  <select name="exit">
		<option value="None">None</option>
        {% for room_key in room_keys %}
		<option value="{{ room_key }}">{{ room_key }}</option>
        {% endfor %}
	  </select>
	  <input type="submit" value="submit">
	</form>
  </div>
</div>
{% endblock %}
