{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Simple Room Viewer</h2>
</div>

<table class="room">
  {% for y in 12345|make_list %}
  <tr>
	{% for x in 1234567|make_list %}
	<td>
	  {% if y == "1" or y == "5" or x == "1" or x == "7" %}
	  <img src="/images/wall1.png" name="{{ x|add:"-1" }}_{{ y|add:"-1" }}" />
	  {% else %}
	  <img src="/images/floor1.png" name="{{ x|add:"-1" }}_{{ y|add:"-1" }}" />
	  {% endif %}
	</td>
	{% endfor %}
  </tr>
  {% endfor %}
</table>
<div class="title">{{ title }}</div>

<script type="text/javascript">
  var tiles = [ {% for row in tiles %} [ {{ row|join:", " }} ] {% if not forloop.last %},{% endif %}{% endfor %} ];
</script>
<script type="text/javascript" src="js/simple_room.js"> </script>
{% endblock %}
