{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="title">
  <h2>Simple Room Viewer</h2>
</div>
<table class="room">
  {% for cell in tiles %}
  {% if forloop.counter0|divisibleby:width %}
  <tr>
  {% endif %}
  <td>
    <a name="{{ forloop.counter0 }}_exit">
	  <img src="/images/blank.png" name="{{ forloop.counter0 }}" />
    </a>
  </td>
  {% if forloop.counter|divisibleby:width %}
  </tr>
  {% endif %}
  {% endfor %}
</table>
<div class="title">{{ title }}</div>

<script type="text/javascript">
  var width = {{ width }};
  var tiles = {{ tiles }};
  var free_space = {{ free_space }};
  var items = {{ items }};
  var exits = [ "{{ exits|join:"\", \""}}" ];
</script>
<script type="text/javascript" src="js/simple_room.js"> </script>
{% endblock %}
